Du wurdest eingeladen, Meal Planner zu nutzen!

Klicke auf den folgenden Link, um dein Passwort festzulegen und dein Konto zu aktivieren:

{{ protocol }}://{{ domain }}/reset-password/{{ uid }}/{{ token }}/


Dieser Link ist nur einmal gültig und läuft in 24 Stunden ab.


Wenn du diese Einladung nicht angefordert hast, kannst du diese E-Mail ignorieren.

**********

Tu as été invité à utiliser Meal Planner !

Clique sur le lien ci-dessous pour définir ton mot de passe et activer ton compte :

{{ protocol }}://{{ domain }}/reset-password/{{ uid }}/{{ token }}/

Ce lien est valable une seule fois et expire dans 24 heures.

Si tu n'as pas demandé cette invitation, tu peux ignorer cet e-mail.