Jemand hat eine Passwortzurücksetzung für dein Konto bei Meal Planner angefordert.

Wenn du das warst, klicke auf den Link unten, um dein Passwort zurückzusetzen:

{{ protocol }}://{{ domain }}/reset-password/{{ uid }}/{{ token }}/

Wenn du das nicht angefordert hast, kannst du diese E-Mail sicher ignorieren.

***********

Français:
Quelqu'un a demandé une réinitialisation de mot de passe pour ton compte sur Meal Planner.

Si c'était toi, clique sur le lien ci-dessous pour réinitialiser ton mot de passe :

{{ protocol }}://{{ domain }}/reset-password/{{ uid }}/{{ token }}/

Si tu n'as pas demandé cela, tu peux ignorer cet e-mail en toute sécurité.
